@import '../variables.scss';

.dropdown {
    transition: 0.3s ease-out;
    width: 100%;
    position: absolute;
    bottom: -40%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;


    @media (min-width: 1750px) {
        width: 100%;
    }

    .dropdown__arrow-container {
        
        background: transparent;
        border: none;
        width: clamp(50px,100%,100px);
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .dropdown__arrow {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
            height: 30px;
            color: white;
            background: $background;
            // outline: 2px solid green;
        }
    }

    .dropdown__bar {
        width: 100%;
        height: 20px;
        background: $background;
    }

}