
    .modal-details__background {
        z-index: 1;
        transform: translate(-50%,50%);
        left:50%;
        bottom:50%;
        background: black;
        opacity: 0.5;
        width: 100vw;
        height: 100vh;
        position: absolute;
    }
    .modal-details {
        z-Index:1; 
        position:absolute;
        transform: translate(-50%,50%);
        width:100%;
        height:100%;
        background:white;
        left:50%;
        bottom:50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 600px) {
            border-radius: 15px;
            width:70%;
            height: 70%;
            left: 50%;
            bottom: 50%;
        }

        @media (min-width: 600px) {
            border-radius: 15px;
            width:70%;
            height: 70%;
            left: 50%;
            bottom: 50%;
        }
        @media (min-width: 720px) {
            width:clamp(300px,50%,500px);
        }

        img {
            width: 50%;
            background: rgba($color: #000000, $alpha: 0.15);
            border-radius: 20px;
            margin: 3em 0 1em 0;

            @media (min-width: 600px) {
                width: 40%;
            }
        }

        .modal-details__modal-close {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 5%;
            top: 5%;
            // outline: 2px solid green;

            @media (min-width:600px) {
                position: absolute;
                right: 5%;
            }

        }

        .modal-details__info-section {
            width: 80%;
            // outline: 2px solid green;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .modal-details__parameter {
                margin: 0.3em;
                width: 60%;
                display: flex;
                justify-content: space-between;

                p {
                    font-weight: 700;
                }
            }
        }

    }