@import '../variables.scss';

.quote {
    // outline: 2px solid green;
    position: relative;
    background: $background;
    margin: auto;
    margin-top: 1em;
    width: 100%;
    min-height: auto;
    border-radius: 5px;
    grid-area: quote;
    display: initial;
    padding:1.5em;

    p {
        color:$font1;
        font-size: 14px;

        @media (min-width: 600px) {
            font-size: 18px;
        }

    }
    
    h3 {
        position: relative;
        right: 0;
        bottom: -10px;
        text-align: right;
        // outline: 2px solid green;
        font-size: 20px;
        color:$font1;

        @media (min-width: 600px) {
            font-size: 25px;
        }
    }
}