@use '../variables.scss';

.quote {
    position: relative;
    width: 100%;
    border-radius: 5px;
    grid-area: quote;
    display: initial;

    @media (min-width: variables.$screen-desktop) {
        width: 100%;
    }

    p {
        color: variables.$font1;
        font-size: variables.$fs-100;

        @media (min-width: variables.$screen-desktop) {
            font-size: variables.$fs-200;
        }
    }
    
    h3 {
        position: relative;
        text-align: right;
        font-size: variables.$fs-200;
        color: variables.$font1;

        @media (min-width: variables.$screen-desktop) {
            font-size: variables.$fs-300;
        }
    }
}