@use '../variables.scss';

.quote {
    outline: 2px solid red;
    position: relative;
    width: 8rem;
    grid-area: quote;
    display: initial;

    @media (min-width: variables.$screen-tablet) {
        width: 15rem;
    }

    @media (min-width: variables.$screen-desktop) {
        width: 25rem;
    }

    p {
        color: variables.$font1;
        font-size: variables.$fs-100;

        @media (min-width: variables.$screen-desktop) {
            font-size: variables.$fs-200;
        }
    }
    
    h3 {
        text-align: right;
        font-size: variables.$fs-200;
        color: variables.$font1;

        @media (min-width: variables.$screen-desktop) {
            font-size: variables.$fs-300;
        }
    }
}