@import '../variables.scss';

    div.container {
        // margin: 0 auto;
        width:90%;
        height: 70%;
        display: flex;
        // outline: 2px solid black;
    }

    .hours-weather__details-modal {
        z-Index:1; 
        position:absolute;
        width:100vw;
        height:100vh;
        background:white;
        left:0%;
        bottom:0%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 50%;
            background: rgba($color: #000000, $alpha: 0.15);
            border-radius: 20px;
            margin: 3em 0 1em 0;
        }

        .hours-weather__modal-close {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 15px;
            top: 15px;
        }

        .hours-weather__info-section {
            width: 80%;
            // outline: 2px solid green;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .hours-weather__parameter {
                margin: 0.3em;
                width: 60%;
                display: flex;
                justify-content: space-between;

                p {
                    font-weight: 700;
                }
            }
        }

    }
    .hours-weather__button {
        width: 20px;
        height: 100px;
        text-align: center;
        align-self: center;
        background-color: $background;
        border: none;
        color: $font1;

    }
    
    .hours-weather__button--disabled {
        opacity: 0.6;
    }

    .hours-weather {
        display: flex;
        align-items: center;
        margin: 0em auto;
        position: relative;
        width: 90%;
        height: 100%;
        // outline: yellow 2px solid;
        box-shadow: inset 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
        overflow: scroll;


        .hours-weather__container {
            text-align: center;
            transition: 0.5s ease-in-out;
            position: absolute;
            transform: translate(0,50%);
            left: 0%;
            bottom: 50%;
            width: 1200%;
            display: flex;
            // outline: 2px solid purple;
            

            .hours-weather__element {
                color: white;
                width: auto;
                height: 10%;
                // outline: solid 2px green;

                .hours-weather__element__time,
                .hours-weather__element__temperature  {
                    font-size: 18px;
                    font-weight: 700;
                }

                .hours-weather__element__date{
                    opacity: 0.7;
                    font-size: 12px;
                }

                img {
                    width: 80%;
                    // outline: 2px solid black;
                }
            }

        }

    }