@import '../variables.scss';

    div.container {
        // margin: 0 auto;
        width:90%;
        height: 70%;
        display: flex;
        // outline: 2px solid black;
    }
    .hours-weather__button {
        width: 20px;
        height: 100px;
        text-align: center;
        align-self: center;
        background-color: $background;
        border: none;
        color: $font1;

    }
    
    .hours-weather__button--disabled {
        opacity: 0.6;
    }

    .hours-weather {
        margin: 0em auto;
        position: relative;
        width: 80%;
        height: 100%;
        // outline: yellow 2px solid;
        box-shadow: inset 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        overflow: scroll;


        .hours-weather__container {
            text-align: center;
            transition: 0.5s ease-in-out;
            position: absolute;
            left: 0%;
            width: 1200%;
            display: flex;
            // outline: 2px solid purple;

            .hours-weather__element {
                width: auto;
                height: 10%;
                outline: solid 2px green;
            }

        }

    }