@use '../variables.scss';

.Welcome {
    margin:0.5em 0;
    width: 95%;
    // outline: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    .Welcome__date {
        text-align: center;
        width: 95%;
        background: variables.$background;
        padding: 0.5em;
        border-radius: 5px;
        color: variables.$font1;
        font-size: variables.$fs-200;

        @media (min-width: variables.$screen-mobile) {
            font-size: variables.$fs-300;
        };
        @media (min-width: variables.$screen-desktop) {
            font-size: variables.$fs-400;
        };

    }
}