@use '../variables.scss';

.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden; 
    
    @media (min-width: variables.$screen-tablet) {
        flex-direction: row;
    }
}

// custom scroll bar

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: variables.$background2;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: variables.$background2;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: variables.$background2;
  }


