@import '../variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.app {
    // outline: 2px solid black;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(45deg,rgba(137, 219, 224,1),rgba(137, 219, 224,0));
    background: linear-gradient(45deg,rgba(51, 61, 75,1),rgba(51, 61, 75,0.6));
    // background: linear-gradient(45deg,rgba(210, 224, 224,1),rgba(230, 224, 224,1));
    overflow: hidden;
    
    .app__main-content {
        margin-top: 2em;
        // outline: 2px solid green;
        position: relative;
        width: 90%;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr ;    
        grid-template-areas: 
        "main weather-icon"
        "main quote";

        .app__weather-icon {
            grid-area: weather-icon;
            position: relative;
            margin: auto;
            // transform: translate(-50%,50%);
            left: 0;
            bottom: 0;
            // outline: 2px solid black;
            width:clamp(100px,100%,150px);
            height: auto;
            content: url('../../assets/animated/night.svg');
        
            @keyframes movement {
               0%{
                left: 100%;
                bottom: -20%;
                }
               100%{
                left: 0;
                bottom: 0;
                }
            }
        
            animation: movement 1.5s ease-in-out;
        }

        .main {
            // outline: 2px solid yellow;
            grid-area: main;
        }
    }
}


