@use '../variables.scss';

.main {

    // * {
    //     outline: 2px solid green;
    // }
    flex-grow: 1;
    position: relative;
    padding: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;    
    grid-template-areas: 
    "current-day weather-icon"
    "current-day quote";

    .main__weather-icon {
        grid-area: weather-icon;
        position: relative;
        margin: auto;
        right: 0%;
        bottom: 0%;
        // outline: 2px solid black;
        width: clamp(100px, 100%, 150px);
        height: auto;

        @media (min-width: variables.$screen-mobile) {
            width: clamp(150px, 100%,350px);
        }
        @media (min-width: variables.$screen-desktop) {
            width: clamp(200px, 100%,450px);
        }
    
        img {
            width: 100%;
        }

        @keyframes movement {

            0%{
                right: -100%;
                bottom: -30%;
            }
            100%{
                right: 0%;
                bottom: 0%;
            }
        }
    
        animation: movement 1.5s ease-in-out;
    }

    .current-day {
        grid-area: current-day;
    }

}
