@use '../variables.scss';

.main {

    // * {
    //     outline: 2px solid green;
    // }
    flex-grow: 1;
    position: relative;
    padding: 1rem;
    display: grid;
    grid-template-columns: 50% 60%;
    grid-template-rows: 60% 40%;    
    grid-template-areas: 
    "current-day weather-icon"
    "current-day quote";

    .main__weather-icon {
        grid-area: weather-icon;
        position: relative;
        margin-block: auto;
        right: 0%;
        bottom: 0%;
        width: 10rem;
        height: auto;

        @media (min-width: variables.$screen-mobile) {
            width: 15rem;
        }
        @media (min-width: variables.$screen-desktop) {
            width: 20rem;
        }
    
        img {
            width: 100%;
            display: block;
        }

        @keyframes movement {

            0%{
                right: -100%;
                bottom: -30%;
            }
            100%{
                right: 0%;
                bottom: 0%;
            }
        }
    
        // animation: movement 1.5s ease-in-out;
    }

    .current-day {
        grid-area: current-day;
    }

}
