
@use '../variables.scss';

.current-day {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin-right: auto;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    
    @media (min-width: variables.$screen-mobile) {
        width: fit-content;
    }

    .current-day__info {
        
        color: white;
        display: flex;
        flex-direction: column;
        font-size: variables.$fs-400;
        
        @media (min-width: variables.$screen-desktop) {
            padding: 0 1em;
        }

        .current-day__temperature {

            margin: auto;
            font-size: variables.$fs-500;

            @media (min-width: variables.$screen-mobile) {
                font-size: variables.$fs-700;
            }
            @media (min-width: variables.$screen-tablet) {
                font-size: variables.$fs-800;
            }
            @media (min-width: variables.$screen-desktop) {
                font-size: variables.$fs-900;
            }
        } 

        .current-day__city {

            margin:auto;
            font-size: variables.$fs-300;
            font-weight: 700;

            @media (min-width: variables.$screen-mobile) {
                font-size: variables.$fs-400;
            }
            @media (min-width: variables.$screen-tablet) {
                font-size: variables.$fs-500;
            }
            @media (min-width: variables.$screen-tablet) {
                font-size: variables.$fs-600;
            }
        }

        .current-day__weather {

            font-size: variables.$fs-200;
            opacity: 0.5;
            margin: auto;
            margin-bottom: 0.2em;

            @media (min-width: variables.$screen-mobile) {
                font-size: variables.$fs-300;
                margin-bottom: 0;
            }
            @media (min-width: variables.$screen-tablet) {
                font-size: variables.$fs-400;
            }
            @media (min-width: variables.$screen-tablet) {
                font-size: variables.$fs-500;
            }
        }
        
    }

    table {

        tbody {
            .current-day__params {

                font-size: variables.$fs-100;
    
                @media (min-width: variables.$screen-mobile) {
                    font-size: variables.$fs-200;
                }
                @media (min-width: variables.$screen-tablet) {
                    font-size: variables.$fs-300;
                }
                @media (min-width: variables.$screen-tablet) {
                    font-size: variables.$fs-400;
                }
    
                td:first-child {
                    font-weight: bold;
                    text-align: left;
                }

                td:nth-child(2) {
                    text-align: right;
                }
    
            }
        }
    }
}