@use '../variables.scss';

.filter-section {
    width: 100%;
    height: 30%;
    background: variables.$background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;

    @media (min-width: variables.$screen-tablet) {
        height: 100vh;
        width: 35%;
    }   

    .filter-section__choose-filter {
        width: 250px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        overflow: hidden;

        @media (min-width: variables.$screen-mobile) {
            height: 50px;
            width: 300px;
        }

        hr{
            color: variables.$font1;
        }

        .filter-section__button-filter {
            cursor: pointer;
            background: variables.$background;
            border: none;
            height: 100%;
            width: 100%;
            color: variables.$font1;
            font-size: variables.$fs-100;

            @media (min-width: variables.$screen-mobile) {
               font-size: variables.$fs-200;
            }    
        }

        .filter-section__button-active {
            background: rgba($color: #000000, $alpha: 0.5);
        }
    }

    .filter-section__choose-container {
        display: flex;
        margin: 0em auto;
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
        overflow-x: scroll;

        @media (min-width: variables.$screen-tablet) {
            flex-direction: column;
            overflow-x: initial;
            overflow-y: scroll;
        }

    }
}
