@use '../variables.scss';

.filter-section {
    width: 100%;
    height: 30%;
    background: variables.$background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    padding: 0.5rem 0.25rem;

    @media (min-width: variables.$screen-tablet) {
        height: 100vh;
        width: 25%;
    }   

    .filter-section__choose-filter {
        width: clamp(8rem, 100%, 12rem);
        height: 1.5rem;
        border-radius: 5px;
        display: flex;
        overflow: hidden;

        .filter-section__button-filter {
            cursor: pointer;
            background: variables.$background;
            height: 100%;
            border: none;
            width: 100%;
            color: variables.$font1;
            font-size: variables.$fs-000;

        }

        .filter-section__button-active {
            background: rgba($color: #000000, $alpha: 0.8);
        }
    }

    .filter-section__choose-container {
        display: flex;
        margin-block: auto;
        width: 100%;
        height: 100%;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
        overflow-x: scroll;

        @media (min-width: variables.$screen-tablet) {
            flex-direction: column;
            overflow-x: initial;
            overflow-y: scroll;
        }

    }
}
