@import '../variables.scss';

.filter-section {
    position: relative;
    width: 100%;
    height: 40vh;
    background: $background;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .filter-section__choose-filter {
        width: 250px;
        height: 30px;
        // outline: green 2px solid;
        border-radius: 5px;
        overflow: hidden;
        display: flex;

        hr{
            color: white;
        }

        .filter-section__button-filter {
            background: $background;
            border: none;
            height: 100%;
            width: calc(100%/3);
            color: white;
        }
    }

    // .filter-section__forecast-hours {
        
    // }

    // .filter-section__forecast-days {

    // }


}
