$background: rgba($color: #000000, $alpha: 0.4);
$background2: rgba($color: #000000, $alpha: 0.15);

$font1: white;

/* font sizes */
$fs-900: 5.125rem;
$fs-800: 4rem;
$fs-700: 3.5rem; 
$fs-600: 2.85rem;
$fs-500: 2.5rem;
$fs-400: 2rem;
$fs-300: 1.5rem;
$fs-200: 1.25rem;
$fs-100: 0.875rem;

/* screen-sizes */
$screen-mobile: "32rem"; // 512
$screen-tablet: "60rem"; // 960
$screen-desktop: "80rem"; // 1440
