@use '../variables.scss';

.weather__container {
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: fit-content;
    display: flex;

    @media (min-width: variables.$screen-tablet) {
        flex-direction: column;
        top: 0%;
        left: 0%;
        height: fit-content;
        width: fit-content;
    }

    .weather__day {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        height: 80%;
        min-width: 6rem;
        justify-content: space-between;
        color: white;
        cursor: pointer;
        

        @media (min-width: variables.$screen-desktop) {
            width: 7rem;
        }


        .weather__date {
            font-size: variables.$fs-100;
            font-weight: 500;

            @media (min-width: variables.$screen-desktop) {
                font-size: variables.$fs-200;
            }
        }

        img {
            height: 55%;

            @media (min-width: variables.$screen-desktop) {
                margin: 1em 0;
                width: 40%;
            }

        }

        .weather__temperature {
            text-align: center;
            font-size: variables.$fs-100;
            font-weight: 700;

            @media (min-width: variables.$screen-desktop) {
                font-size: variables.$fs-200;
            }
        }

        .weather__day-night {
            font-size: variables.$fs-100;
            opacity: 0.6;

            @media (min-width: variables.$screen-desktop) {
                font-size: variables.$fs-200;
            }
        }

        @media (min-width: variables.$screen-tablet) {
            overflow: initial;
            height: 60%;     
        }
        @media (min-width: variables.$screen-tablet) {
            overflow: initial;
            height: 60%;     
        }
    }
}