@import '../variables.scss';
.nav {
    margin:0.5em 0;
    width: 95%;
    // outline: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__button-now {
        background: $background;
        padding: 0.2em;
        border-radius: 5px;
        color: white;
        border: none;
    }

    .nav__input-search {
        margin: 0 1em;
    }
    .nav__magnifier {
        margin: 0 0.5em;
    }

    .nav__localization {
        margin-right: auto;
    }

    .nav__date {
        background: $background;
        padding: 0.2em;
        border-radius: 5px;
        color: white;

    }
}