@import '../variables.scss';
.nav {
    margin:0.5em 0;
    width: 95%;
    // outline: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav__date {
        text-align: center;
        width: 95%;
        background: $background;
        padding: 0.5em;
        border-radius: 5px;
        color: $font1;
        font-size: 16px;

        @media (min-width: 600px) {
            font-size: 20px;
        };

    }
}